@using TaskManager.Models.ViewModels.Tasks
@model IndexTaskListViewModel

@if (this.User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <a class="btn btn-dark" asp-controller="Tasks" asp-action="Create">Create Task</a>
    </div>
}
else
{
    <h5>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a> or <a asp-area="Identity" asp-page="/Account/Login">Login</a> to be able to create tasks.
    </h5>
}
@if (Model.Tasks.Any())
{
    <div class="row">
        @foreach (var task in Model.Tasks)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">@task.PartialContent</p>
                        <a href="#" class="btn btn-dark">Open</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h2 class="text-center">There are currently no tasks.</h2>
}