@using TaskManager.Models.ViewModels.Tasks
@model IndexTaskListViewModel

@if (Model.Tasks.Any())
{
    <div class="row">
        @foreach (var task in Model.Tasks)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">@task.PartialContent</p>
                        <a href="#" class="btn btn-dark">Open</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h4 class="text-center">There are currently no tasks.</h4>
}